@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

header {
    width: 100%;
    height: 5em;
    text-align: center;
    top: 0px;
    background-color: #1a1a1a;
    color: #a5a5a5;
}

ul {
    margin-top: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

a {
    font-size: 1.2vmax;
}

a:hover {
    color: #ececec;
}

.banner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 25em;
}

.banner img:after {
    background: rgba(0, 0, 0, 1);
}

.overText {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
}

h1 {
    color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    font-weight: 700;
}

h3 {     
    color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: 200;
}

.content {
    margin-bottom: 3em;
}

.column {
    width: 25em;
    display: inline-block;
    margin-left: 2.2em;
    margin-right: 2.2em;
}

.column img {
    width: 100%;
    height: auto;
    border: 0.2em solid #e4e4e4;
}

h5 {
    color: #1a1a1a;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vmax;
    font-weight: 400;
    margin-bottom: 0.2em;
}

p {
    color: #1a1a1a;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vmax;
    font-weight: 200;
    margin-top: 0.2em; 
}

@media only screen and (max-width: 768px) {
    header {
        height: 6em;
    }
    ul {
        padding-top: 0.5em;
    }
    li {
        display: block;
        font-size: 0.8em;
        margin-top: 0.2em;
    }
    .banner img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 15em;
    }

    .column img {
        width: 80%;
        height: auto;
        border: 0.2em solid #e4e4e4;
    }
  }
