@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #d1edf6;
}

header {
    width: 100%;
    height: 10em;
    text-align: center;
    top: 0px;
    background-color: #0C2D48;
    color: whitesmoke;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding-top: 0.5em;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.content-body {
    width: 100%;
    height: auto;
    text-align: center;
}

button {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: whitesmoke;
    background-color: #0C2D48;
    border: 0.2em solid #145DA0;
    border-radius: 1.5em;
    width: 10em;
    height: 7em;
    display:block;
    margin:0 auto;
    margin-top: 8em;
}

button:hover {
    background-color: #145DA0;
}

button:active {
    background-color:#145DA0;;
    transform: translateY(0.1em);
}